body{
    font-family: 'Lobster', cursive;
    margin-top: 70px;
}

.max-viewport{
    min-height: 100vh;
}

.transparent {
    background: rgba(0, 0, 200, 0.7)
}

#banner,  #social{
    background: linear-gradient(rgba(0, 0, 136, 0.6), rgba(0, 0, 136, 0.6)), url(images/office.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
